#background {
	-fx-background-color: transparent;
}

#content {
	/* -fx-background-color: rgba(63, 63, 63, 0.975); */
	-fx-text-fill: white;
	-fx-background-insets: 0 0 0 0;
	-fx-spacing: 0px;
	/* -fx-border-color: #2f2f2f; */
	/* -fx-background-color: #3f3f3f; */
}

#content > VBox {
  -fx-background-color: transparent;
}

#menu {
	-fx-background-color: transparent;
}

#menu * {
	-fx-text-fill: white;
}

#menu Button {
	-fx-background-color: transparent;
	-fx-border-width: 0 0 0 0;
	-fx-background-insets: 0;
}

#menu #close:hover {
	-fx-background-color: #e81123;
	-fx-border-color: #e81123;
}

#output {
	-fx-text-fill: white;	
}

/* VBox {
	-fx-background-color: transparent;
	-fx-background-color: #3f3f3f;
} */

Button {
	-fx-margin: 1;
	-fx-background-radius: 0;
	-fx-background-insets: 0;
	-fx-background-color: #2f2f2f;
	-fx-text-fill: white;
	/* -fx-border-color: rgba(0, 0, 0, 0.05);
	-fx-border-style: solid; */

	-fx-padding: 1px;
	-fx-border-insets: 1px;
	-fx-background-insets: 1px;
	
	-fx-border-style: solid;
	-fx-border-width: 1px;
	-fx-border-color: rgba(0, 0, 0, 0.05);
}

Button:hover {
	-fx-background-color: #2a2a2a;
}

Button:pressed {
	-fx-background-color: #1f1f1f;
}